*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    background-color: #2020da;
    color: #ffffff;
}

header > nav > button {
    margin: 5px 10px;
    background-color: transparent;
    color: #ffffff;
}
.profile {
    text-align: center;
    margin: 20px;
}
#profile-pic {
    width: 20%;
    border-radius: 50%;
}